<?xml version="1.0"?>

<model>
  <name>intruder_quadtailsitter_figure8</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>PX4 ROS2 Build</name>
  </author>

  <description>
    Physics NPC intruder on a figure-8 (Gerono) patrol (~1 km lobe @ ~100 km/h).
  </description>
</model>
