<?xml version="1.0"?>
<model>
  <name>rocket_quadtailsitter2</name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <author>
    <name>tailsitter-build</name>
  </author>

  <description>
    X-wing variant of rocket_quadtailsitter: entire cruciform (+) layout
    (wings, PETG-CF arms, rotors) rigidly rotated +45 deg about body Z.
  </description>
</model>
