<?xml version="1.0"?>
<model>
  <name>kopis_x8_base</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>PX4 User</name>
  </author>
  <description>Base model for Holybro Kopis X8 Cinelifter 5" (X8 octocopter). Used with PX4 SITL Gazebo simulation.</description>
</model>
