<?xml version="1.0"?>
<model>
  <name>gimbal_v4l2</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Sungmin Kim</name>
    <email>buttonfly@gmail.com</email>
  </author>
  <description>CGO3 gimbal with camera/image_raw and v4l2_gz_plugin output to /dev/video10.</description>
</model>
