<?xml version="1.0"?>
<model>
  <name>kopis_x8_mid360_gimbal</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Sungmin Kim</name>
    <email>buttonfly@gmail.com</email>
  </author>
  <description>Kopis X8 + Mid360; belly-front gimbal (x500_gimbal yaw 180°), z=0.25 on base_link.</description>
</model>
