<?xml version="1.0"?>
<model>
  <name>kopis_x8_mid360_rtk</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>PX4 User</name>
  </author>
  <description>Kopis X8 with Livox Mid360 LiDAR (RTK / GPS backup variant). Same as kopis_x8_mid360, use this when RTK is required.</description>
</model>
