<?xml version="1.0"?>
<model>
  <name>rocket_fin</name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <author>
    <name>tailsitter-build</name>
  </author>

  <description>
    Single vertical wing panel for rocket_quadtailsitter. Geometry matches
    quadtailsitter wing proportions (mac 0.22 m). Root at link origin on body.
  </description>
</model>
