<?xml version="1.0"?>
<model>
  <name>quadtailsitter_gimbal</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>Sungmin Kim</name>
    <email>buttonfly@gmail.com</email>
  </author>
  <description>Quad tailsitter VTOL with a CGO3-style 3-axis gimbal camera (v4l2 output).</description>
</model>
