<?xml version="1.0"?>
<model>
  <name>rocket_quadtailsitter</name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <author>
    <name>tailsitter-build</name>
  </author>

  <description>
    Rocket-style intercept quadtailsitter with PETG-CF motor arms (10 mm OD,
    170 mm span) from fuselage to wing-tip motor mounts.
  </description>
</model>
